---
import BlogPost from "../components/BlogPost.astro";
import Tags from "../components/Tags.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "My Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        I'm following the tutorial at <a
            href="https://docs.astro.build/en/tutorial/0-introduction/"
            >https://docs.astro.build/en/tutorial/0-introduction/</a
        >
    </p>

    <p>It takes you through the process of making a webpage like this!</p>

    <Tags />

    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
