---
import Greeting from "../components/Greeting";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<style>
    .muted {
        color: gray;
    }
</style>

<BaseLayout pageTitle={pageTitle}>
    <h2>Astro is cool</h2>
    <p class="muted">But Jazz is cooler</p>

    <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
