---
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        You can see more of my projects at <Social
            platform="GitHub"
            username="daniel-rachfal"
        />
    </p>
</footer>
